apiVersion: v1
kind: ConfigMap
metadata:
  name: cicada-config
  namespace: default
data:
  # ldap
  LDAP_USER_SEARCH_BASE: "ou=users,dc=cicada,dc=data"
  LDAP_MANAGER_DN: "cn=Manager,dc=cicada,dc=data"
  LDAP_MANAGER_PASSWORD: "cicada@data"
  LDAP_HOST: "cicada-ldap"
  LDAP_PORT: "7789"
  # api
  API_HOST: "cicada-api"
  API_PORT: "7798"
  API_SHARE_FOLDER: "/home/cicada/data"
  # keycloak
  KEYCLOAK_HOST: "cicada-keycloak"
  KEYCLOAK_PORT: "7796"
  KEYCLOAK_GC_LOG: "true"
  KEYCLOAK_JAVA_OPTS: "-Xms64m -Xmx512m -XX:MetaspaceSize=96M -XX:MaxMetaspaceSize=256m -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/opt/keycloak_heap.hprof -Djava.net.preferIPv4Stack=true -Djboss.modules.system.pkgs=org.jboss.byteman -Djava.awt.headless=true"
  # NFS
  NFS_HOST: "cicada-nfs"
  # mongodb
  MONGO_HOST: "cicada-mongo"
  MONGO_PORT: "7797"
  MONGO_USER: "admin"
  MONGO_PASSWORD: "cicada@data"
  MONGO_DB: "cicada_demo"
  # NIFI
  NIFI_HOST: "cicada-nifi"
  NIFI_PORT: "7795"
  NIFI_JVM_HEAP_INIT: "1G"
  NIFI_JVM_HEAP_MAX: "1G"
  NIFI_SENSITIVE_PROPS_KEY: "1qa2ws3ed4rf5tg+6ytrezxcvfgbnhjm"
  NIFI_ELECTION_MAX_WAIT: "30 sec"
  DAAI_CDH_IP: 10.62.161.35
  KEYSTORE_PATH: "/home/nifi/certs/keystore.p12"
  KEYSTORE_TYPE: "PKCS12"
  KEYSTORE_PASSWORD: "cd536b7a6276606a8a524967d9d28ac3"
  TRUSTSTORE_PATH: "/home/nifi/certs/truststore.p12"
  TRUSTSTORE_PASSWORD: "7fb8d73d95579ef6a06ee67640874a62"
  TRUSTSTORE_TYPE: "PKCS12"
  NIFI_MAX_TIMER_DRIVENTHREADCOUNT: "10"
  NIFI_MAX_EVENT_DRIVENTHREADCOUNT: "1"
